@model  DataLayer.Models.Apartment
@{
    DataLayer.Models.Image image =  Model.Images.First(i => i.IsRepresentative);
}
<div class="shadow-lg p-3 mb-5 bg-body rounded" style="display: flex; align-items:center">
    <div style="padding: .5em; width: 50%">
        <img src="@(image.Path.Contains("http") ? image.Path : Url.Action("ImageSrc", "Apartment", new { path = image.Path }))" style="width: 100%; object-fit: cover; border-radius: .2em" />
    </div>
    <div style="padding: .5em; width: 50%">
        <div class="d-flex justify-content-between align-items-baseline">
            <h3 class="hover" onclick="location.href='@Url.Action("Details", "Apartment", new { apartmentId = Model.Id })'">@Model.Name</h3>
            @{
                string averageRating = Model.Reviews.Count > 0 ? Model.Reviews.Average(a => a.Stars).ToString("0.##") : "0";
                <div class="d-flex">
                    <label style="margin-right: .3em; font-weight: bold">@(Model.Reviews.Count > 0 ? $"{averageRating}/5" : "N/A")</label>
                    <img src="~/Content/images/star.png" style="height: 1.7em; width: 1.7em" />
                </div>
            }
        </div>
        <ul style="padding-top:.5em">
            <li>@Model.CityName</li>
            <li>@Model.BeachDistance m from beach</li>
            <li>@Model.TotalRooms rooms</li>
            <li>@Model.MaxAdults adults</li>
            <li>@Model.MaxChildren children</li>
        </ul>
        <div style="display:flex; justify-content: space-between;">
            <h4>@Model.Price.ToString("0.##") €</h4>
            <input style="font-weight: 600" type="submit" class="btn btn-info" value="View more.." onclick="location.href='@Url.Action("Details", "Apartment", new { apartmentId = Model.Id })'" />
        </div>
    </div>
</div>
