@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            height: 100%;
            overflow-x: hidden;
        }
        main {
            margin: 0;
            min-height: calc(100vh - 11.5em);
        }
        footer
        {
            flex-shrink: 0;
            width: 100vw !important;
            background-color: #e3f2fd;
            height: 8em;
        }
        nav{
            height: 4em;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="spinner-placeholder" class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100vw; position: absolute; z-index: -10" hidden>
        <div id="spinner" class="spinner-border" role="status" style="display:none">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please log in</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating" style="margin: 1em">
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating" style="margin: 1em">
                        <input type="password" class="form-control" id="password" placeholder="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div style="text-align: center; margin: 1em">
                        <input type="submit" class="btn btn-info" id="btnLogIn" value="Log in"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-primary navbar-expand">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Apartments</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="#">About us</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link disabled">Username</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Log in
                </button>
                @*<a class="nav-link" href="#">Log in</a>*@
            </div>
        </div>
    </nav>
    <main style="background-color: #e3f2fd;">
        <div class="body-content" style="width: 100%;">
            @RenderBody()
        </div>
    </main>
    <footer class="py-3 bg-primary" style="color: white">
        <p class="text-center">&copy; @DateTime.Now.Year - Daniel Katavic</p>
        <p class="text-center">Algebra University College</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>