@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        body {
            height: 100%;
        }

        main {
            margin: 0;
            min-height: calc(100vh - 11.5em);
        }

        footer
        {
            flex-shrink: 0;
            width: 100vw !important;
            background-color: #e3f2fd;
            height: 8em;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="spinner-placeholder" class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100vw; position: absolute;" hidden>
        <div id="spinner" class="spinner-border" role="status" style="display:none">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-primary navbar-expand">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Apartments</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="#">About us</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link disabled">Username</a>
                <a class="nav-link" href="#">Log out</a>
            </div>
        </div>
    </nav>
    <main style="background-color: #e3f2fd;">
        <div class="body-content" style="width: 100%; padding: 2em;">
            @RenderBody()
        </div>
    </main>
    <footer class="py-3 bg-primary" style="color: white">
        <p class="text-center">&copy; @DateTime.Now.Year - Daniel Katavic</p>
        <p class="text-center">Algebra University College</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>