@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            height: 100%;
            overflow-x: hidden;
        }
        main {
            margin: 0;
            min-height: calc(100vh - 11.5em);
        }
        footer
        {
            flex-shrink: 0;
            width: 100vw !important;
            background-color: #e3f2fd;
            height: 8em;
        }
        nav {
            height: 4em;
        }
        #success-notification {
            display: flex;
            position: absolute;
            z-index: 10000;
            top: 4em;
            background-color: lightgreen;
            height: 2.5em;
            width: 100vw;
            opacity: .9;
        }
        footer li {
            border-radius: 50%;
            width: 2em;
            height: 2em;
        }

        #github-icon {
            width: 100%;
            height: 100%;
            background: url("/Content/images/git.png") center / contain no-repeat;
        }

        #linkedin-icon {
            width: 100%;
            height: 100%;
            background: url("/Content/images/linkedin.png") center / contain no-repeat;
        }

        footer p {
            color: white;
            margin-bottom: 0;
        }

        footer li:hover {
            box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="spinner-placeholder" class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100vw; position: absolute; z-index: -10" hidden>
        <div id="spinner" class="spinner-border" role="status" style="display: none">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="success-notification" class="align-items-center justify-content-center" style="display: none">
        <label style="font-weight: 600">You have successfully sent your booking request!</label>
    </div>
    @*Navbar*@
    <nav class="navbar navbar-dark bg-dark navbar-expand">
        <div class="container-fluid">
            <div class="navbar-nav">
                <div class="d-flex align-items-center gap-1" style="margin-right: 1em">
                    <img src="~/Content/images/villa.png" style="width: 2em; height: 2em" />
                    <label style="font-weight: 700; color: white">RWA Apartments</label>
                </div>
                @Html.ActionLink(linkText: "Apartments", actionName: "Index", controllerName: "Apartment", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="#">About us</a>
            </div>
            <div class="navbar-nav">
                @{
                    bool isLogedIn = !string.IsNullOrWhiteSpace(HttpContext.Current.User.Identity.Name);
                    <a class="nav-link disabled">@(isLogedIn ? HttpContext.Current.User.Identity.Name : "Username")</a>
                    @Html.ActionLink(linkText: (!isLogedIn ? "Log in" : "Log out"), actionName: (isLogedIn ? "LogOut" : "Index"), controllerName: "LogIn", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                }
            </div>
        </div>
    </nav>
    <main>
        <div class="body-content" style="width: 100%;">
            @RenderBody()
        </div>
    </main>
    <footer class="pt-3 bg-dark">
        <ul class="nav justify-content-center pb-3" style="gap: 1em">
            <li class="nav-item"><a href="https://github.com/DanielKatavic" id="github-icon" class="nav-link px-2 text-muted"></a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/daniel-katavic-08771120b/" id="linkedin-icon" class="nav-link px-2 text-muted"></a></li>
        </ul>
        <p class="text-center">&copy; @DateTime.Now.Year Daniel Katavic</p>
        <p class="text-center">Algebra University College</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>